@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <h2 class="row-cols-2 mt-xxl-5 mb-5">Add a new Product:</h2>
    <form class="border-secondary row-cols-2 mt-3">
        <div class="row g-5 align-items-center mb-3">
            <div class="col-4">
                <label for="inputPassword6" class="col-form-label fw-bold">Product Name:</label>
            </div>
            <div class="col-auto">
                <input type="text" id="product_name" class="form-control" aria-describedby="passwordHelpInline">
            </div>
        </div>


        <div class="row g-5 align-items-center mb-3">
            <div class="col-4">
                <label for="inputPassword6" class="col-form-label fw-bold">Product Price:</label>
            </div>
            <div class="col-auto">
                <input type="text" id="product_price" class="form-control" aria-describedby="passwordHelpInline">
            </div>
        </div>


        <div class="row g-5 align-items-center mb-3">
            <div class="col-4">
                <label for="inputPassword6" class="col-form-label fw-bold">Product Category:</label>
            </div>
            <div class="col-auto">
                <input type="text" id="product_caregory" class="form-control" aria-describedby="passwordHelpInline">
            </div>
        </div>
        
        <div style="display: flex; flex-direction: row; justify-content: flex-start; gap: 5rem;">
            <button type="reset" class="btn btn-primary mb-3 mr-3 col-2 ">Reset1</button>
            <button type="submit" class="btn btn-primary mb-3 col-2">Confirm</button>
        </div>
    </form>
</div>