@{
    ViewData["Title"] = "Home Page";
}

<div class="login-container">

    @{
        if (!String.IsNullOrEmpty(ViewBag.LoginError))
        {
            <div class="alert alert-danger">
                @ViewBag.LoginError
            </div>
        }
    }
    <h1>Welcome</h1>

    <form class="border border-secondary rounded login-form" asp-controller="Home" asp-action="Index">

        <div class="row g-2 align-items-center justify-content-center mb-5 mt-5">
            <div class="col-3">
                <label for="username" class="col-form-label">Email:</label>
            </div>
            <div class="col-4">
                <input type="email" id="username" name="username" class="form-control" placeholder="Email address">
            </div>
        </div>
        <div class="row g-2 align-items-center justify-content-center mb-5 mt-5">
            <div class="col-3">
                <label for="password" class="col-form-label">Password</label>
            </div>
            <div class="col-4">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>

        </div>

        <div class="login-buttons">
            <a asp-controller="Signup" asp-action="Index" type="button" class="btn btn-info">Signup</a>
            <button type="submit" class="btn btn-primary">Login</button>
        </div>

    </form>

</div>