@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<form class="signup-form border border-1 rounded-3" method="POST">
    <h3>Signup Form</h3>
    <div class="signup-email">
        <label for="exampleFormControlInput1" class="form-label">Email address:</label>
        <input type="email" class="form-control"  name="Email" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>

    <div class="signup-email">
        <label for="exampleFormControlInput1" class="form-label">Your Name:</label>
        <input type="text" class="form-control" name="Name" id="exampleFormControlInput2" placeholder="Your name">
    </div>

    <div class="signup-email">
        <label for="exampleFormControlInput1" class="form-label">Password:</label>
        <input type="password" class="form-control" name="Password" id="exampleFormControlInput3" placeholder="Enter your password">
    </div>


    <div class="signup-email">
        <label for="exampleFormControlInput1" class="form-label">Confirm Password:</label>
        <input type="password" class="form-control" name="password" id="exampleFormControlInput4" placeholder="Confirm your password">
    </div>

    <button type="submit" class="btn btn-primary" asp-controller="Signup" asp-action="Register">
        Sign Up
    </button>

</form>