/* _content/Shipping/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-kuq4rqktos] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
main[b-kuq4rqktos] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
}
a[b-kuq4rqktos] {
  color: #0077cc;
}

.btn-primary[b-kuq4rqktos] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-kuq4rqktos], .nav-pills .show > .nav-link[b-kuq4rqktos] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-kuq4rqktos] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-kuq4rqktos] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-kuq4rqktos] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-kuq4rqktos] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-kuq4rqktos] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
